.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.nav {
    margin-left: 76px;
}

.header-address {
    margin-left: auto;
    font-style: normal;
}

.nav-list {
    display: flex;
    gap: 40px;
}

.nav-list a {
    display: block;
    padding: 8px 0;
}

.address-list {
    display: flex;
    gap: 40px;
}

.nav-list a,
.address-list a {
    display: block;
    padding: 24px 0;
}

body {
    font-family: Roboto, sans-serif;
    color: #2E2F42;
    background-color: #ffffff;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.02em;
}

ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.logo {
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #2E2F42;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    line-height: 1.17;
}

.logo:hover,
.logo:focus {
    color: #2E2F42;
}

.logo span {
    color: #4D5AE5;
}

.logo span:hover,
.logo span:focus {
    color: #4D5AE5;
}

.footer-logo {
    color: #4D5AE5;
}

.footer-logo .studio {
    color: #f4f4fd;
}

.footer-logo:hover,
.footer-logo:focus {
    color: #4D5AE5;
}

.footer-logo:hover .studio,
.footer-logo:focus .studio {
    color: #f4f4fd;
}

.nav-list {
    padding: 0;
    margin: 0;
}

.nav-list a {
    color: #2E2F42;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-list a:hover,
.nav-list a:focus {
    color: #404BBF;
}



.address-list {
    padding: 0;
    margin: 0;
}

.address-list a {
    color: #434455;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.address-list a:hover,
.address-list a:focus {
    color: #404BBF;
}

.container {
    max-width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin: 0;
}

.hero-section {
    background-color: #2E2F42;
    text-align: center;
    padding-top: 188px;
    padding-bottom: 188px;
}

.hero-title {
    max-width: 496px;
    margin: 0 auto;
}





.hero-button-wrapper {
    margin-top: 48px;
}

.hero-button {
    background-color: #4D5AE5;
    color: #fff;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    color: #2E2F42;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0;
}

h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin: 0;
}

p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.features-card h3 {
    margin-bottom: 8px;
}

.features-item {
    width: calc((100% - 72px) / 4);
}

.features-text {
    padding: 32px 0;
}

.team-section {
    background-color: #F4F4FD;
}

.team-section h2 {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-card {
    padding: 32px 16px;
    background-color: #fff;
    padding: 0;
}

.team-list li {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
    overflow: hidden;
}

.team-list img {
    display: block;
    width: 100%;
}

.team-content {
    padding: 32px 16px;
}

.team-content h3 { 
    text-align: center;
    margin-bottom: 8px;
}

.team-content p {
    text-align: center;
}

.portfolio-section h2 {
    margin-bottom: 72px;
}
    
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    padding: 0;
    margin: 0;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
    background-color: #FFFFFF;
    border-bottom: 1px solid #d8d8d8;
} 

.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-text h3 {
    margin-bottom: 8px;
}

.portfolio-list img,
.team-list img {
    display: block;
    width: 100%;
}

.footer {
    background-color: #2E2F42;
    text-align: left;
    padding: 100px 0;
}

.footer .container {
    margin-bottom: 0;
}

.footer .logo {
    display: inline-block;
}

.footer-logo {
    margin-bottom: 16px;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    max-width: 264px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}